#pragma once

#define WIFI_SSID "iPhone di Mathias"
#define WIFI_PASSWORD "cebu13fb9mnzd"

#define WIFI_SSID_2 "public_wifi_are_secure_2"
#define WIFI_PASSWORD_2 "123456_2"

#define ACCESS_TOKEN ":)"
#define REFRESH_TOKEN ":("
#define CLIENT_ID "ae06a86dbb2f438fb6d164ee8bab2be4"
#define CLIENT_SECRET "5f5babffe7be45918426296a03a90315"