#pragma once

#define WIFI_SSID "public_wifi_are_secure"
#define WIFI_PASSWORD "123456"

#define WIFI_SSID_2 "public_wifi_are_secure_2"
#define WIFI_PASSWORD_2 "123456_2"

#define ACCESS_TOKEN "I_need_this_to_do_whatever_i_want :)"
#define REFRESH_TOKEN ":("
#define CLIENT_ID "who_are_you"
#define CLIENT_SECRET "we_have_no_secrets"